<!-- 
Manikishore Medam, mm5224@drexel.edu
CS 530: DUI , Final Project -->

{% extends "layout.html" %}
{% block content %}	

<div class="text-left">
    <h1 class="jumbotron-heading ">Let's Farm</h1>
    <p class="lead">Agriculture is the main stake for many people in all countries. It is the main source of income for around 60 percent of the population in India. It is the backbone for the development of any country. Agriculture employs more than 50 percent of total work force in India and it will contribute around 17-18 percent of Indian GDP. From the beginning days, agriculture has gone through many transformations.
    </p>
    <div>
      <img src="/static/farm_stage1.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <p class="lead"> From using basic practices in earlier days to implementing modern techniques. </p>
    <div>
      <img src="/static/farm_stage4.png" class="img-fluid" alt="Responsive image">
    </div>

    
    <p class="lead">
    But for a profession like this, which is the backbone of any economy doesn’t have a community/continuous support that helps them in updating their methods of farming and helps them to improve their knowledge on latest things happening in Agriculture. Also, people practicing this are less connected and don’t have a better organized community to help and support them. Our website will bridge this gap, it helps in connecting farmers with their peers and will help farmers to share their experiences and latest happenings related to the agriculture. Farmers can share their experiences and unique farming techniques they are implementing to other farmers through posts in the website. By this way the every farmer can learn from each other and help each other grow. As the quote says, <b>”A wise man learns from the experiences of others”</b>. This website makes every farmer wise by helping them to learn and grow from the experiences of others.
	</p>    

</div>

    

{% endblock content %}